/*#region reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  height: 100%;
  max-height: auto;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

#title {
  align-items: center;
  background-color: #d9b08c;
  display: flex;
  font-family: "Newsreader", serif;
  height: 10vh;
  justify-content: center;
  padding-top: 0.5rem;
  width: 100%;
}

@keyframes backgroundChange {
  0% {
    background-color: #d9b08c;
  }
  50% {
    background-color: #d8c3a5;
  }
  100% {
    background-color: #d9b08c;
  }
}

#title h1 {
  font-size: 50px;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
}

#nav-item-1 {
  align-items: center;
  background-color: #d8c3a5;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

.link-span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-item-class {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.link {
  color: black;
  font-size: 30px;
  text-decoration: none;
}
#nav-item-2 {
  align-items: center;
  background-color: #d8c3a5;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

#nav-item-3 {
  align-items: center;
  background-color: #d8c3a5;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}
#nav-item-4 {
  align-items: center;
  background-color: #d8c3a5;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

#content {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  height: auto;
  width: 100%;
  font-family: "Newsreader", serif;
}

#content h2 {
  font-size: 3rem;
}

#main-article {
  background-color: #d8c3a5;
  border: 1px solid white;
  flex: 5;
  padding: 30px;
  width: 100%;
  max-width: 100%;
}

#main-article p {
  font-size: 2rem;
}
#side-part-container {
  background-color: blue;
  display: flex;
  flex: 3;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

#side-item-1 {
  background-color: purple;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#side-item-1-heading {
  align-items: center;
  background-color: #d8c3a5;
  border: 1px solid white;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

#side-item-1 h2 {
  font-size: 2rem;
}
#side-item-1-content {
  align-items: center;
  background-color: #d8c3a5;
  border: 1px solid white;
  display: flex;
  flex: 3;
  font-size: 1rem;
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 100%;
}
#side-item-2 {
  background-color: blue;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
#side-item-2-heading {
  align-items: center;
  background-color: #d8c3a5;
  border: 1px solid white;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

#side-item-2 h2 {
  font-size: 2rem;
}
#side-item-2-content {
  align-items: center;
  background-color: #d8c3a5;
  border: 1px solid white;
  display: flex;
  flex: 3;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
}

#side-item-3 {
  background-color: yellow;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#side-item-3-heading {
  align-items: center;
  background-color: #d8c3a5;
  border: 1px solid white;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

#side-item-3 h2 {
  font-size: 2rem;
}
#side-item-3-content {
  align-items: center;
  background-color: #d8c3a5;
  border: 1px solid white;
  display: flex;
  flex: 3;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
}

#Tomris_Teacher {
  float: left;
  height: 20vh;
  margin-right: 10px;
  width: 20vh;
}

@media screen and (max-width: 1000px) {
  #content {
    flex-direction: column;
  }

  #main-article {
    padding: 30px 5px 30px 30px;
  }

  .nav-item-class {
    font-size: 15px;
  }

  #Tomris_Teacher {
    margin-right: 20px;
  }

  .link {
    font-size: 28px;
  }

  @media screen and (max-width: 700px) {
    .link {
      font-size: 24px;
    }
  }
  @media screen and (max-width: 550px) {
    .link {
      font-size: 20px;
    }
    #title h1 {
      font-size: 40px;
    }
    #side-item-1-heading h2,
    #side-item-2-heading h2,
    #side-item-3-heading h2 {
      font-size: 20px;
    }

    #side-item-1-heading,
    #side-item-2-heading,
    #side-item-3-heading {
      min-height: 50px;
    }
  }
  @media screen and (max-width: 450px) {
    .link {
      font-size: 18px;
    }
    #main-article h2 {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 380px) {
    .link {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 366px) {
    #Tomris_Teacher {
      margin-bottom: 20px;
      margin-left: 60px;
    }
    #main-article {
      align-items: center;
      justify-content: center;
    }
  }
}
